{
    // 箭头函数参数周围加上括号
    "arrowParens": "always",
    // 大括号与代码在同一行
    "bracketSameLine": true,
    // 大括号内部不加空格
    "bracketSpacing": false,
    // 分号结尾
    "semi": true,
    // 不使用实验性三元表达式
    "experimentalTernaries": false,
    // 使用单引号
    "singleQuote": true,
    // JSX属性值使用单引号
    "jsxSingleQuote": true,
    // 保留引号样式
    "quoteProps": "preserve",
    // 尾随逗号保留
    "trailingComma": "all",
    // 不强制单个属性换行
    "singleAttributePerLine": false,
    // HTML空格敏感性为css
    "htmlWhitespaceSensitivity": "css",
    // Vue脚本和样式不缩进
    "vueIndentScriptAndStyle": false,
    // 文本不换行
    "proseWrap": "never",
    // 不插入格式化标记
    "insertPragma": false,
    // 打印宽度为80个字符
    "printWidth": 80,
    // 不要求格式化标记
    "requirePragma": false,
    // 使用Tab缩进
    "useTabs": true,
    // 嵌入语言格式自动
    "embeddedLanguageFormatting": "auto",
    // Tab宽度为4个空格
    "tabWidth": 4
}
